<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favorites</ion-title>
    </ion-toolbar>
  </ion-header>

  @if ((favCatObjects$ | async); as cats) {
    @if (cats.length > 0) {
      <ion-list>
        @for (cat of cats; track cat) {
          <ion-card>
            <img alt="Cat Image" [src]="cat.image_link"/>
            <ion-card-header>
              <ion-card-title>{{ cat.name }} Cat</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label>Shedding</ion-label>
              <ion-progress-bar [value]="cat.shedding / 5" [color]="getBarColor(cat.shedding, true)"></ion-progress-bar>
              <ion-label>Family Friendliness</ion-label>
              <ion-progress-bar [value]="cat.family_friendly / 5"
              [color]="getBarColor(cat.family_friendly, false)"></ion-progress-bar>
              <ion-label>Playfulness</ion-label>
              <ion-progress-bar [value]="cat.playfulness / 5"
              [color]="getBarColor(cat.playfulness, false)"></ion-progress-bar>
              <ion-label>Other Pets Friendly</ion-label>
              <ion-progress-bar [value]="cat.pets_friendly / 5"
              [color]="getBarColor(cat.pets_friendly, false)"></ion-progress-bar>
              <ion-label>Children Friendly</ion-label>
              <ion-progress-bar [value]="cat.children_friendly / 5"
              [color]="getBarColor(cat.children_friendly, false)"></ion-progress-bar>
              <ion-input label="Origin" labelPlacement="stacked" [value]="cat.origin" [readonly]="true"></ion-input>
              <ion-input label="Length" labelPlacement="stacked" [value]="cat.length" [readonly]="true"></ion-input>
            </ion-card-content>
            <ion-button (click)="removeFromFavorites(cat.name)" color="danger" fill="clear">
              Remove From Favorites
            </ion-button>
          </ion-card>
        }
      </ion-list>
    } @else {
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
        <ion-text color="medium">
          <p style="text-align: center; margin: 0 1rem;">
            No favorites here yet...<br/>
            Go find your dream kitty!
          </p>
        </ion-text>
      </div>
    }
  }
</ion-content>
